<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style>
        label.label_text {
            padding: 10px;
            line-height: 200%;
        }

    </style>
    <link rel="stylesheet" type="text/css" href="../../CSS/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="../../CSS/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="../../CSS/table.css" />
    <script type="text/javascript" src="../../JavaScript/jquery.min.js"></script>
    <script type="text/javascript" src="../../JavaScript/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="CaptionOfAccount.js"></script>
    <script type="text/javascript" src="../../../main.js"></script>
</head>
<body>
    <div id="add_account_box" class="easyui-window">
        <form id="add_form">
        <div>
            <label id="account_number_label" class="label_text" >科目编号：</label>
            <input id="account_number_input" class="easyui-textbox" style="width: 70px" data-options="required:true" missingMessage="不能为空" />
            <label id="account_name_label" class="label_text">科目名称：</label>
            <input id="account_name_input" class="easyui-textbox" style="width: 200px" data-options="required:true" missingMessage="不能为空"/>
            <br/>
            <label id="account_attribute_label" class="label_text">科目属性：</label>
            <select id="account_attribute_select" class="easyui-combobox" name="attr" style="width: 100px" data-options="required:true" missingMessage="不能为空" >
                <option id="finance" value="01">资产类</option>
                <option id="liabilities" value="02">负债类</option>
                <option id="owership" value="03">所有者权益</option>
                <option id="together" value="04">共同类</option>
                <option id="cost" value="05">成本类</option>
                <option id="gainorloss" value="06">损益类</option>
            </select>
            <label id="account_form_label" class="label_text">账式：</label>
            <select id="account_form_select" class="easyui-combobox" name="form" style="width:70px;" data-options="required:true" missingMessage="不能为空">
                <option id="money" value="J" >金额</option>
                <option id="quality" value="Y" >数量金额</option>
            </select>
            <label id="account_label" class="label_text">科（栏）目：</label>
            <select id="account_select" class="easyui-combobox" name="account" style="width:70px;" data-options="required:true" missingMessage="不能为空">
                <option id="debit" value="J">借方栏目</option>
                <option id="credit" value="D">贷方栏目</option>
                <option id="acc" value=" ">科目</option>
            </select>
        </div>

        <div id="money_information" style="width: 48%; float: left; background: #fafafa; border: 1px solid #ccc; margin: 5px">
            <div style="margin: 0 auto; width: 50px">
                <label id="money_information_label"><b>金额信息</b></label>
            </div>
            <table>
                <tr>
                    <td><label id="begin_remain_label" class="label_text">年初余额：</label></td>
                    <td><input id="begin_remain_input" class="easyui-numberbox" data-options="required:true" missingMessage="不能为空" /></td>
                </tr>
                <tr>
                    <td><label id="this_debit_label" class="label_text">本年借方：</label></td>
                    <td><input id="this_debit_input" class="easyui-numberbox" data-options="required:true" missingMessage="不能为空" /></td>
                </tr>
                <tr>
                    <td><label id="this_credit_label" class="label_text">本年贷方：</label></td>
                    <td><input id="this_credit_input" class="easyui-numberbox" data-options="required:true" missingMessage="不能为空" /></td>
                </tr>
                <tr>
                    <td><label id="balance_label" class="label_text">当前余额：</label></td>
                    <td><input id="balance_input" class="easyui-numberbox" data-options="required:true" missingMessage="不能为空" /></td>
                </tr>
            </table>
        </div>
        <div id="quantity_information" style="width: 48%; float: right; background: #fafafa; border: 1px solid #ccc; margin: 5px 5px 5px 0">
            <div style="margin: 0 auto; width: 50px">
                <label id="quantity_information_label"><b>数量信息</b></label>
            </div>
            <table>
                <tr>
                    <td><label id="begin_quantity_label" class="label_text">年初数量：</label></td>
                    <td><input id="begin_quantity_input" class="easyui-numberbox" data-options="required:true" missingMessage="不能为空" /></td>
                </tr>
                <tr>
                    <td><label id="this_debit_quantity_label" class="label_text">本年借方：</label></td>
                    <td><input id="this_debit_quantity_input" class="easyui-numberbox" data-options="required:true" missingMessage="不能为空" /></td>
                </tr>
                <tr>
                    <td><label id="this_credit_quantity_label" class="label_text">本年贷方：</label></td>
                    <td><input id="this_credit_quantity_input" class="easyui-numberbox" data-options="required:true" missingMessage="不能为空" /></td>
                </tr>
                <tr>
                    <td><label id="quantity_label" class="label_text">当前数量：</label></td>
                    <td><input id="quantity_input" class="easyui-numberbox" data-options="required:true" missingMessage="不能为空" /></td>
                </tr>
            </table>
        </div>
        <div id="quantity_form_head" style="margin: 5px; width: 96%;">
            <table>
                <tr>
                    <td><label id="form_head1_label" class="label_text">表头一：</label></td>
                    <td><input id="form_head1_input" class="easyui-textbox"/></td>
                    <td><label id="form_head2_label" class="label_text">表头二：</label></td>
                    <td><input id="form_head2_input" class="easyui-textbox"/></td>
                </tr>
                <tr>
                    <td><label id="form_head3_label" class="label_text">表头三：</label></td>
                    <td><input id="form_head3_input" class="easyui-textbox"/></td>
                    <td><label id="form_head4_label" class="label_text">表头四：</label></td>
                    <td><input id="form_head4_input" class="easyui-textbox"/></td>
                </tr>
                <tr>
                    <td><label id="form_head5_label" class="label_text">表头五：</label></td>
                    <td><input id="form_head5_input" class="easyui-textbox"/></td>
                    <td><label id="form_head6_label" class="label_text">表头六：</label></td>
                    <td><input id="form_head6_input" class="easyui-textbox"/></td>
                </tr>
            </table>
            <hr/>
            <label id="code_category_label" class="label_text">代码类别：</label>
            <input id="code_category_input" class="easyui-textbox" style="width: 20%" />
            <label id="standard_code_label" class="label_text">标准代码：</label>
            <input id="standard_code_input" class="easyui-textbox" style="width: 40%" />
            <hr/>
            <div id="box_button_group" style="float: right">
                <a id="yes_button" href="###" class="easyui-linkbutton" iconCls= "icon-ok" onclick="obj.save()">确定</a>
            </div>
        </div>
        </form>
    </div>

    <div id="initializtion" style="height: 100%; width: 100%">
    	<div id="button_group" >
            <a id="add_button" href="###" class="easyui-linkbutton" iconCls= "icon-add" onclick="obj.add();">增加</a>
            <a id="delete_button" href="###" class="easyui-linkbutton" iconCls= "icon-cancel" onclick="obj.remove();">删除</a>
            <a id="edit_button" href="###" class="easyui-linkbutton" iconCls= "icon-edit" onclick="obj.edit();">修改</a>
            <a id="previous_level_button" href="###" class="easyui-linkbutton" iconCls= "icon-back" onclick="obj.uperLevel_click();">上级</a>
            <a id="next_level_button" href="###" class="easyui-linkbutton" iconCls= "icon-next" onclick="obj.nextLevel_click()">下级</a>
            <a id="save_button" href="###" class="easyui-linkbutton" iconCls= "icon-ok" onclick="obj.output()">转出</a>
        </div>
        <br/>
        <div style="position: absolute; top: 0px; height: 94%; width: 100%;">
        	<div style="height: auto; width: 100%; padding: 5px; margin-top: 5px; border: 1px solid #ccc">
                    当前级数:
	                <input id="level" type="text" style="border-width: 0px" readonly/>
                    上级科目编号及名称:
	                <input id="superior_account" type="text" style="border-width: 0px" readonly />
                    <input id="superior_account_name" type="text" style="border-width: 0px" readonly />
	        </div>
	        <div style="position: absolute; bottom: 0px; top: 40px; padding: 5px; width: 100%; border: 1px solid #ccc">
	            <table id="main_table"></table>
        	</div>
        </div>
    </div>
</body>
</html>
