<!DOCTYPE html>
<html >
	<head>
		<title></title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="../../CSS/themes/default/easyui.css" />
	    <link rel="stylesheet" type="text/css" href="../../CSS/themes/icon.css" />
	    <link rel="stylesheet" type="text/css" href="../../CSS/table.css" />
	    <script type="text/javascript" src="../../JavaScript/jquery.min.js"></script>
	    <script type="text/javascript" src="../../JavaScript/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="Contacts_Category.js"></script>
		<script type="text/javascript" src="../../../main.js"></script>
	</head>

	<body class="easyui-layout" style="margin: 0px 0px 0px 5px;" >
		<!--主界面-->
		<div style="position:absolute;height:100%;width:60%;">
   			<table id="box" style="height:100%">
			</table>
   		</div> 
   		<div id="tb" style="padding:5px;height:auto">
			<a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="obj.add();">增加</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="obj.remove();">删除</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-redo" onclick="$javascript:$('#turnintoDialog').dialog('open');">转入</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-undo" onclick="exportExcel_click();">转出</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-back" onclick="obj.uperLevel_click()">上级</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-next" onclick="obj.nextLevel_click();">下级</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="obj.save()">存盘</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="obj.cancel()">取消</a>
			<!--<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="obj.save();">存盘</a>-->
		</div>


		<div id="add_or_update" class="easyui-dialog" title="添加往来单位类别" style="width:400px" closed ="true" data-options="buttons:'#dlg-buttons'">
			<div style="padding:10px 60px 20px 60px">
				<form id="ff" method="post">
					<table cellpadding="5">
						<tr>
							<td>类别编号:</td>
							<td><input id="catNo1Id" style="width:169px" name="catNo1" type="text" data-options="required:true,missingMessage:'分类编号不能为空！'"></input></td>
						</tr>
						</tr>
						<tr>
							<td>类别名称:</td>
							<td><input id="catName1Id" style="height:20px" class="easyui-textbox " name="catName1" data-options="required:true" validType="length[1,20]" missingMessage="分类名称不能为空!" invalidMessage="请输入1-20个字符的分类名称"></input></td>
						</tr>
					</table>
				</form>
			</div>
			<div id="dlg-buttons" style="text-align:center;padding:5px">
				<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="obj.save();">确定</a>
				<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$javascript:$('#add_or_update').dialog('close');">取消</a>

			</div>
		</div>
		</div>
	        
 		<!--转入对话框显示界面-->
	    <div id="turnintoDialog" closed ="true">
		    <form id="importExcelForm" method="post" style="padding:10px 10px 10px 10px;" enctype="multipart/form-data">
	            <!--<div style="height:40px"></div>-->
	            <!--<div style="height:40px">-->
	                <!--<label >转入路径:</label>-->
	                <!--<input name="turnintoPath" class="easyui-filebox"  style="width:300px;" data-options="prompt:'选择一个文件',buttonText:'&nbsp选择&nbsp '"/>-->
	            <!--</div>-->
				<div style="width:400px;padding:30px 70px 50px 70px">
					<div style="margin-bottom:20px">
						<div>文件名:</div>
						<input class="easyui-textbox" style="width:100%">
					</div>
					<div style="margin-bottom:20px">
						<div>文件:</div>
						<input id="excelFile" name="excelFile" class="easyui-filebox"  data-options="prompt:'请选择Excel文件...',
   					buttonText:'选择文件', accept:'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel'"
							   style="width:200px">
					</div>
				</div>
	        </form>
	    </div>

		<!--转出对话框显示界面-->
	    <div id="turnoutDialog" closed ="true">
		    <form style="padding:10px 20px 10px 40px;">
	            <div style="height:40px"></div>
	            <div style="height:40px">
	                <label style="display:inline-block;width:60px;padding:1px">转出路径:</label>
	                <input name="turnintoPath" class="easyui-textbox"  style="width:180px;" data-options="prompt:'A:/'">
	            </div>
			</form>
	    </div>  
	</body>
</html>
